.container,
.background,
.game-container {
  background-color: #212121;
}

.header,
.search-box {
  background-color: #323232;
}

.column-menu {
  font-size: 20px;
}

.icon {
  color: #14ffec;
  font-size: 25px;
}

.column-two-third {
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.search-button {
  font-family: 'Rubik', sans-serif;
  background-color: lightgrey;
  border-radius: 20px;
  border-width: 0;
  font-size: 15px;
  padding: 3px 10px;
}

.row-game {
  background-color: #323232;
}

.title-post,
.heart-container,
p {
  color: white;
  font-family: 'karla', sans-serif;
}

.col-posts,
.col-description {
  font-family: 'karla', sans-serif;
}

.arrow-icon,
.heart-icon {
  font-size: 30px;
}

.single-title {
  font-size: 20px;
}

.enter-button {
  border-radius: 10px;
  border-width: 0;
  padding: 12px 17px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.col-title {
  font-size: 30px;
}

@media screen and (min-width: 568px) {
  .column-menu {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .column-menu {
    font-size: 30px;
  }

  #game-container {
    background-color: #323232;
  }
}
