* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 60px;
}

.column-one-third {
  position: absolute;
  left: 1.5rem;
}

.search-box {
  border-style: none;
  padding: 0 10%;
  height: 80px;
}

.textbox {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}
