* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
}

.header {
  position: relative;
  align-items: center;
  width: 100%;
  height: 60px;
}

.column-menu {
  position: absolute;
  left: 1.5rem;
  top: 0;
}

.search-box {
  border-style: none;
  padding: 0 5%;
  height: 80px;
}

.textbox {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

.search-container {
  justify-content: flex-end;
}

.row-game {
  margin: 1rem 0;
  display: flex;
  height: 100px;
}

.img-container {
  width: 30%;
  height: 100%;
}

p {
  margin: 20px 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: contents;
  text-decoration: none;
  color: white;
}

.title-post {
  width: 60%;
  padding-left: 10px;
  align-items: flex-end;
}

.heart-container,
.heart-container-blue {
  width: 10%;
  padding-top: 10px;
}

.col-title {
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.col-description {
  width: 100%;
  margin: 0;
}

.col-posts {
  width: 100%;
  margin: 0;
}

.col-title > p,
.col-description > p,
.col-posts > p {
  margin: 10px 0;
}

.col-title,
.col-description,
.col-posts {
  padding: 0 5%;
  display: flex;
}

.img-cont {
  width: 100%;
  height: 300px;
}

.back-arrow {
  margin: 1rem 0;
  padding-left: 5%;
}

.enter-button {
  margin: 1rem 0;
  transition: 0.2s ease-in-out;
}

.enter-button:hover {
  background-color: #14ffec;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.icon {
  margin: 1rem;
  font-size: 25px;
  transition: 0.2s ease-in-out;
}

.icon:hover {
  font-size: 35px;
}

.cont {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.menu-cont {
  width: 190px;
  height: 100%;
  padding-left: 1rem;
}

.menu-title {
  margin: 2rem 0;
}

.menu-item {
  margin: 0.5rem 0;
  transition: 0.2s ease-in-out;
}

.menu-item:hover {
  color: #14ffec;
  font-size: 30px;
}

.grey-screen {
  width: 60%;
  height: 100%;
}

.loading-icon {
  margin-top: 2rem;
  text-align: center;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row-thread-header {
  text-align: center;
}

.thread-icon {
  display: flex;
  justify-content: center;
}

.background-add {
  position: absolute;
  width: 100%;
  left: 0;
}

.background-reply {
  margin-top: 1rem;
}

.cont-post {
  width: 100%;
  height: 150px;
  padding: 1px 20px;
  border-radius: 10px;
}

.user {
  font-size: 20px;
  margin: 10px 0;
}

.textbox-add {
  width: 100%;
  height: 35px;
}

.post-container {
  margin-top: 1.2rem;
}

.cancel {
  margin-left: 2rem;
  align-self: flex-end;
  text-align: end;
  cursor: pointer;
}

.col-thr-title {
  align-self: center;
  text-align: center;
}

.col-reply {
  display: flex;
  justify-content: flex-end;
  color: white;
  transition: 0.2s ease-in-out;
}

.col-reply:hover {
  color: #14ffec;
}

.post-background {
  width: 90%;
  background-color: #323232;
  border-radius: 20px;
  padding: 10px;
}

.col-post {
  display: flex;
  justify-content: space-between;
}

.post-user,
.post-date,
.post-message {
  margin: 4px;
}

.post-message {
  text-align: left;
}

.reply-background {
  background-color: #323232;
  border-radius: 20px;
  padding: 10px;
}

.reply-list {
  margin-bottom: 1rem;
  width: 80%;
}

.thread-list {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.search-for-games {
  margin-top: 2rem;
  text-align: center;
}

.click-on-post {
  text-align: center;
  margin: 4rem 0;
  color: white;
}

.game-title {
  margin: 0;
  color: #14ffec;
  font-family:
    'Rubik',
    sans-serif;
}

.game-title-container {
  padding: 0.5rem;
  text-align: center;
  background-color: #323232;
}

.background-color {
  width: 100%;
}

@media screen and (min-width: 736px) {
  .thread-list {
    padding: 10px;
    width: 100%;
    background-color: #212121;
    border-radius: 20px;
  }

  .search-box {
    margin: auto;
    padding: 0 20%;
  }

  .cont-post {
    margin: auto;
  }

  .row-game {
    width: 80%;
    margin: 1rem auto;
    transition: 0.3s ease-in-out;
  }

  .row-game:hover {
    width: 81%;
  }

  .col-title,
  .col-description,
  .col-posts {
    padding: 0 20%;
  }

  .menu-cont {
    width: 460px;
    padding-left: 3rem;
    text-align: left;
  }

  .grey-screen {
    width: 80%;
  }

  .menu-title {
    margin: 3rem 0;
  }

  .menu-item {
    margin: 1.5rem 0;
  }

  .back-post {
    margin: 2rem auto;
    width: 90%;
    background-color: #323232;
    padding: 2rem 9%;
    border-radius: 20px;
  }

  .row-thread-header {
    width: 40%;
    display: inline;
  }

  .post-background {
    width: 40%;
    border-radius: 20px;
  }

  .thread-cont {
    text-align: center;
  }

  .thread-title {
    margin: 0;
  }

  .row-thread-back {
    text-align: center;
    display: flex;
  }

  .background-add {
    position: relative;
    display: flex;
  }

  .thread-icon {
    display: inline-block;
    margin-top: 3rem;
  }

  .col-thr-title {
    width: 100%;
  }

  .reply-list {
    margin-bottom: 1rem;
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    text-align: center;
    position: relative;
    width: 70%;
  }

  .column-menu {
    left: 0;
    top: 0;
  }

  .search-box {
    width: 70%;
  }

  .row-game {
    width: 40%;
    margin: 1rem auto;
    height: 150px;
  }

  .row-game:hover {
    width: 42%;
    height: 151px;
  }

  .game-container {
    margin: auto;
    width: 50%;
    margin-top: 2rem;
    border-radius: 20px;
    padding: 0 9%;
  }

  .col-title,
  .col-description,
  .col-posts,
  .back-arrow {
    margin-top: 0.5rem;
    padding: 0%;
  }

  .heart-container-blue,
  .heart-container {
    width: auto;
  }

  .enter-button {
    margin: 2rem 0;
  }

  ul {
    padding: 0;
  }

  .back-post {
    width: 70%;
  }

  .game-title-container {
    margin: auto;
    text-align: left;
    width: 70%;
  }
}
